/* Reset básico para remover paddings/margins padrão */

*, *::before, *::after {

box-sizing: border-box;

}

body, h1, h2, p, ul {

margin: 0;

padding: 0;

}

body {

font-family: Arial, sans-serif;

line-height: 1.6;

color: var(--text-color);

background-color: var(--background-color);

}